.App {
  text-align: center;
}

.nav{
  display:flex;
  justify-content:space-around;
  align-items: center;
  min-height:10vh;
  background-color: midnightblue;
  color:white;
  /* align-content: flex-end; */

}
.nav-link{
width:50%;
justify-content: Space-around;
display:flex;
align-items:center;
/* align-content: flex-end; */
list-style: none;
}
.card{
  outline: teal;
  box-shadow:  0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 10px 20px;
  margin-bottom: 20px;
  margin-top: 50px;
  width:30%;
 

}
